.button-ant{
  width: 300;
  border-radius: 6px;
  border:0;
  &.transparent{
    border: 1px solid #f1f0f0;
    padding: 7px 25px 10px;
    font-weight: 600;
  }

  &.green{
    background: #51B549;
    color: white;
    width: 140px !important;
    height: 40px;
    border-radius: 6px;
    border: none;
    font-size: 17px;
    border: none !important;
    font-weight: 600;
    text-shadow: none;
    box-shadow: none;
    visibility: inherit !important;
  }
}

.button{
  border-radius: 50%;
}