@import './colors.scss';
@import '../variables.scss';

.categories{
  &-title{
    color:$blue-main;
    font-size: 24px;
  }
  &-wrp{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 0 -10px;
    @media screen and (max-width: $mediumScreen) {
      flex-wrap: nowrap;
      overflow: scroll;
    }
  }
  &-item{
    width: calc(100% / 7);
    padding: 0 10px 20px 10px;
    @media screen and (max-width: $mediumScreen) {
      width: 150px;
      display: inline-table;
    }
    p{
      width: 100%;
      height: 45px;
      border: 1px solid #E2E7E9;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #707070;
      font-size: 16px;
      font-weight: $fw-600;
      transition: all .3s;
      &:hover{
        background-color: $blue-main;
        color:white;
        border:none;
      }
    }
    &--active{
      background-color: $blue-main;
      color:white !important;
      border:none !important;
    }
  }
}