@import '../variables.scss';

.payment{
	margin: 0 auto;
  .ant-input-number,.ant-select-selector{
    width: 100%;
    border-radius: 50px !important;
  }
  .ant-select-selector{
    height: 43px !important;
    display: flex;
    align-items: center;
  }
  .ant-input-number-handler-wrap{
    display: none;
  }
  input{
    border-radius: 50px;
    height: 40px;
  }
  .ant-form-item {
    width: 47%;
    flex-direction: column;
    @media (max-width: $tabletScreen) {
      width: 100%;
     }
  }
  .ant-form-item-label{
    text-align: left;
  }
  .ant-form-item-explain, .ant-form-item-extra{
    font-size: 12px;
  }
  .button{
    font-size: 16px !important;
    width: 160px !important;
  }
}