@import './colors.scss';
@import '../variables.scss';

.comments{
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 35px;
  &__add-comment{
    font-weight: 600;
    font-size: 16px;
    color: #50b648;
    border: 1px solid #50b648;
    width: max-content;
    margin: 0 auto;
    padding: 7px 14px;
    margin-top: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: #50b648;
      color:white;
      border-color: #449c3d;
    }
  }
  &-wrp{
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    box-shadow: #096dd914 1px 1px 60px 6px;
    @media (max-width: $tabletScreen) {
      width: 100%;
      padding: 22px;
    }
  }
  &-item{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    &:first-child{
      padding:0;
      margin: 0;
      border-bottom: 0;
    }
    &__avatar{
     width: 60px !important;
     height: 60px !important;
     div{
       font-size: 20px !important;
     }
    }
    &__name{
      font-size: 18px;
      font-weight: 600;
    }
    &__text{
      width: 80%;
      color: #676767;
    }
  }
  .react-rater{
    width: auto;
  }
}

.button-modal{
  padding: 9px;
  display: block;
  text-align: center;
  margin-left: auto;
}

.ant-modal-content .react-rater-star{
  font-size: 40px;
}

.ant-modal-header{
  background-color: transparent;
}
.ant-modal-content{
  border-radius: 12px;
}