@import './colors.scss';
.product-detail {
  position: relative;
  padding: 40px 0 120px;
  &__name {
    font-size: 33px;
    font-weight: 600;
  }
  &__image {
    height: 550px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
      border: 1px solid #ececec;
    }
  }
  &__desc {
    color: #6d6d6d;
  }

  &__titles {
    color: #464544;
    border-bottom: 1px solid #464544;
  }

  &__payment-system {
    img {
      margin: 6px 10px 0 0;
      border-radius: 6px;
      border:1px solid #e6e6e6;
    }
  }

  &__add-basket {
    background-color: $green-main;
    display: block;
    width: 190px;
    color: white;
    height: 55px;
    text-align: center;
    border-radius: 6px;
    font-weight: $fw-600;
    font-size: 17px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: #5fca57;
    }
  }

  &__sticky {
    position: fixed;
    width: 75%;
    height: 95px;
    border: 1px solid #dedddd;
    background-color: #fdfdfd;
    border-radius: 6px;
    box-shadow: #096dd914 1px 1px 60px 6px;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    z-index: 9;
    
    &-name{
      font-weight: $fw-600;
      font-size: 18px;
      width: 300px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &-info {
      img{
        width: 64px;
        height: 64px;
        border: 1px solid #ececec;
        border-radius: 12px;
        padding: 4px;
      }
    }
    &-price {
      width: 120px;
      font-size: 36px;
      color: #262626;
      font-weight: $fw-600;
    }
    .quantity{
      margin-left: -17%;
    }
    &.disabled{
      .quantity{
        opacity: 0.6;
        pointer-events: none;
        filter: blur(2px);
        margin-left: 0%;
      }
      .product-detail__sticky-price{
        font-size: 30px;
      }
    }
  }
}