@import './colors.scss';
.product-list{
  &-title{
    font-size: 20px;
    color: #707070;
    font-weight: $fw-300;
  }
  &__wrp{
    margin: 0 -15px 0 -15px;
  }
  &__cell{
    width: calc(100% / 5);
    padding: 0 15px 30px 15px;
  }
  &__item{
    height: 386px;
    padding: 12px;
    background:white;
    border: 1px solid #E2E7E9;
    border-radius: 10px;
    img{
      border-radius: 10px;
      height: 200px;
      object-fit: cover;
    }
  }
  &__name{
    font-size:15px;
    color: #555555;
    font-weight: $fw-600;
    height: 35px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__price{
    font-size: 22px;
    color: #1f1f1f;
    font-weight: $fw-600;
  }
  &__add-basket{
    height: 34px;
    color: $blue-main;
    font-size: 15px;
    font-weight: $fw-600;
    border-radius: 22px;
    border: 1px solid $blue-main;
    cursor: pointer;
  }

}