@import '../colors.scss';
.header {
  position: sticky;
  top:0;
  height: 90px;
  border-bottom: 1px solid #ececec;
  background-color: white;
  z-index: 99;
  &.active{
    z-index: 999;
    .header-bag{
      filter: blur(5px);
      pointer-events: none;
      opacity: 0.4;
    }
  }
  &-search {
    position: relative;
    width: 60%;
    height: 50px;
    margin-left: 5%;
    background: #F7F7F7;
    border: 2px solid #EDF1F2;
    border-radius: $radius-28;
    padding: 0px 4px 0 15px;
    input {
      background-color: transparent;
      width: 100%;
      border: 0;
      text-indent: 14px;
      font-size: 15px;
    }
    &__button{
      background: $green-main;
      border: 2px solid #EDF1F2;
      border-radius: $radius-28;
      color: white;
      padding: 5px 19px;
      font-size: 18px;
    }
    &__result{
      position: absolute;
      top: 20px;
      width: 100.3%;
      max-height: 363px;
      background: #ffffff;
      /* border: 2px solid #EDF1F2; */
      /* border-radius: 28px; */
      z-index: -1;
      margin-left: -2.4%;
      padding: 30px;
      box-shadow: #7171712e 1px 8px 30px 2px;
      overflow-x: scroll;
      transition: all .3s;
      opacity: 0;
      pointer-events: none;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      &.active{
        opacity: 1;
        pointer-events: all;
      }
      .search-item{
        border-bottom: 1px solid #e8e8e8;
        padding: 12px 0;
        img{
          width: 65px;
          height: 65px;
          border-radius: 12px;
          border: 1px solid #e6e6e6;
          padding: 5px;
         
        }
        h3{
          font-size: 16px;
          width: 340px;
        }
        
      }
    }
  }
  &-bag{
    background: $blue-main;
    border-radius: $radius-28;
    padding: 1px 24px;
    width: 135px;
    cursor: pointer;
    &__text{
      color: white;
      font-size: 16px;
      font-weight: $fw-600;
      letter-spacing: -0.2px;
    }
    &__count{
      background: $red-main;
      border-radius: 50%;
      padding: 0px 9px 2px 9px;
      right: 0;
      top: -10px;
      color: white;
      font-weight: $fw-600;
    }
  }
  &-progress{
    position: absolute;
    width: 343px;
    height: 64px;
    background-color: #F54257;
    right: 0;
    border-radius: 12px;
    margin-top: 10px;
    padding: 14px;
    &:after{
      content: '';
      position: absolute;
      top: -5px;
      right: 15%;
      border-radius: 23px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px;
      border-color: #f54157 transparent transparent #f54157;
      border-radius: 3px 0px 0px 0px;
      transform: rotate(45deg);
      
    }
    &__title{
      font-size: 15px;
      font-weight: $fw-600;
      color:white;

    }
  }
}

.shadow-bg{
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  transition: all .4s ease;
  &.active{
    opacity: 1;
    pointer-events: all;

  }
  
}