@import '../colors.scss';
.header {
  height: 90px;
  &-search {
    width: 60%;
    height: 40px;
    margin-left: 5%;
    background: #F7F7F7;
    border: 2px solid #EDF1F2;
    border-radius: $radius-28;
    padding: 0px 3px 0 15px;

    input {
      background-color: transparent;
      width: 100%;
      border: 0;
      text-indent: 6px;
      font-size: 15px;
    }
    &__button{
      background: $green-main;
      border: 2px solid #EDF1F2;
      border-radius: $radius-28;
      color: white;
      padding: 4px 16px;
      font-size: 14px;
    }
  }
  &-bag{
    background: $blue-main;
    border-radius: $radius-28;
    padding: 1px 24px;
    width: 135px;
    &__text{
      color: white;
      font-size: 14px;
      font-weight: $fw-600;
      letter-spacing: -0.2px;
    }
    &__count{
      background: $red-main;
      border-radius: 50%;
      padding: 0px 9px 2px 9px;
      right: 0;
      top: -10px;
      color: white;
      font-weight: $fw-600;
    }
  }
}